body {
	background-color: rgb(96,130,150);
}

nav {
	text-align: center;
}

li {
	display: inline;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	text-decoration: none;
	color: rgba(255,255,255,.5);
}

h3 {
	font-family: 'Exo 2', sans-serif;
	color: rgba(255,255,255,.5);
}

p {
	font-family: 'Ubuntu', sans-serif;
}